<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<script src="/assets/js/quotes.js"></script>
	<title>Quotes App</title>
</head>

<body>
	{{{ body }}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="../../public/js/staff.js"></script>
	<script type="text/javascript" src="../../public/js/login.js"></script>
	<script type="text/javascript" src="../../public/js/signup.js"></script>

</body>

</html>