form.signup,
form.login {
  margin-top: 50px;
}

body {
  background-color: rgba(110,110,110,110);
  background-image: url("/images/storeFront01.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed
}


.grayscale {
  background-image: linear-gradient(to bottom, #000000, #1f1f1f, #373737, #525252, #6e6e6e);
}

.fullWidth {
  width: 100%;
  
}

.lightGray{
  background-color: lightgray;
  margin-top: 10px;
  margin-left: 20px;
  padding-bottom: 20px;
}

.relative{
  position: relative;
}

.center {
  top: 10px;
  
  /* bottom: 10px; */
}

.quantity{
  width: 90%;
}

body, html {
  height: 100%;
}

/* .bg{
  background-image: url("/images/storeFront01.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed
 } */
